.keywords {
	min-height: 10svh;
	width: 50%;
	padding: 0.5rem;

	@media (width < 1024px) {
		width: 100%;
		height: auto;
	}
}

.keywordsContainer {
	height: 100%;
	border: 3px solid var(--color-border);
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-block: 2rem;
}

.keywordsScroll {
	display: flex;
	gap: 2rem;

	ul {
		list-style: none;
		min-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		font-size: clamp(1.5rem, 0.8571rem + 0.7143vw, 2rem);
		text-transform: uppercase;
		animation: scroll 20s linear infinite;

		@media (width < 1024px) {
			font-size: clamp(1.25rem, 1.1143rem + 0.6033vw, 1.5rem);
		}
	}
}

@keyframes scroll {
	to {
		transform: translateX(calc(-100% - 2rem));
	}
}
