---
import styles from './Keywords.module.css';
---

<section class={styles.keywords}>
  <div class={styles.keywordsContainer}>
    <div class={styles.keywordsScroll}>
      <ul>
        <li>Soupe à l'oignon</li>
        <li>Foie gras</li>
        <li>Camembert rôti</li>
        <li>Tartatre de boeuf</li>
        <li>Croque Monsieur</li>
        <li>Salade Niçoise</li>
        <li>Bavette de boeuf</li>
      </ul>

      <ul aria-hidden="true">
        <li>Soupe à l'oignon</li>
        <li>Foie gras</li>
        <li>Camembert rôti</li>
        <li>Tartatre de boeuf</li>
        <li>Croque Monsieur</li>
        <li>Salade Niçoise</li>
        <li>Bavette de boeuf</li>
      </ul>
    </div>
  </div>
</section>
