.hero {
	display: flex;
	overflow: hidden;
}

/* Left section for the hero title and buttons */

.left {
	min-height: 90svh;
	width: 50%;
	padding: 0.5rem;

	@media (width < 1024px) {
		width: 100%;
		padding: 0.25rem;
	}

	@media (width < 769px) {
		min-height: 100svh;
	}

	.innerContainer {
		height: 100%;
		border: 3px solid var(--color-border);
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@media (width < 1024px) {
			padding: 0.25rem;
		}
	}
}

.heroMain {
	padding-top: 6.5rem;
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	@media (width < 1024px) {
		padding-top: 5rem;
		background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
			url("/assets/images/hero-img.webp");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 0.75rem;
	}

	.heroTitle {
		font-size: clamp(2.5rem, -0.0714rem + 2.8571vw, 4.5rem);
		font-weight: 700;
		line-height: 1.5;
		padding: 2rem;
		/* margin-bottom: 1.5rem; */
		text-align: center;
		text-wrap: balance;

		@media (width < 1024px) {
			color: var(--color-white);
			font-size: clamp(1.75rem, 0.8788rem + 4.0996vw, 3.5rem);
			width: 80%;
			padding-inline: 0;
		}

		@media (width < 480px) {
			/* margin-bottom: 1rem; */
		}
	}

	.buttonContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		margin-block: 1.5rem;

		@media (width < 480px) {
			margin-block: 1rem;
			padding-bottom: 1rem;
		}

		.linkButton {
			display: inline-block;
			padding: 1rem 2.5rem;
			background-color: var(--color-primary);
			color: var(--color-white);
			text-transform: uppercase;
			border-radius: 0.25rem;
			font-size: clamp(1.25rem, 0.9286rem + 0.3571vw, 1.5rem);
			outline-offset: 4px;
			outline: 1px solid var(--color-primary);
			transition: all 0.175s ease-in;

			@media (width < 1024px) {
				padding: clamp(0.75rem, 0.6255rem + 0.5857vw, 1rem)
					clamp(1.5rem, 1.0022rem + 2.3426vw, 2.5rem);
				background-color: var(--color-white);
				color: var(--color-primary);
				outline: 1px solid var(--color-white);
				font-size: clamp(1rem, 0.8643rem + 0.6033vw, 1.25rem);

				&:hover {
					color: var(--color-white);
				}
			}

			&:hover {
				background-color: var(--color-secondary);
				outline-color: var(--color-secondary);
			}
		}
	}
}

.infoContainer {
	width: 100%;
	padding: 1rem;
	height: 40%;

	@media (width < 1024px) {
		padding-inline: 0;
		padding-bottom: 0;
	}

	.infoInner {
		border: 2px solid var(--color-border);
		border-radius: 0.75rem;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.adressContainer,
	.hoursContainer {
		padding: 4rem 1rem;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		text-transform: uppercase;
		font-size: clamp(1rem, 0.3571rem + 0.7143vw, 1.5rem);
		text-align: center;

		@media (width < 1024px) {
			font-size: clamp(0.75rem, 0.4214rem + 0.905vw, 1rem);
		}

		@media (width < 480px) {
			padding: 2rem 0.5rem;
		}

		@media (width < 480px) {
			/* padding: 2rem 0.5rem; */
		}

		.days {
			font-weight: 700;
			font-size: clamp(1.5rem, 0.8571rem + 0.7143vw, 2rem);

			@media (width < 1024px) {
				font-size: clamp(1rem, 0.5356rem + 1.5083vw, 1.5rem);
			}
		}
	}

	hr {
		height: 50%;
		width: 2px;
		background-color: var(--color-border);
		border: none;
	}
}

/* Right section for the hero image */

.right {
	width: 50%;
	position: fixed;
	top: 8px;
	right: 8px;
	bottom: 8px;
	padding-left: 0.5rem;

	@media (width < 1024px) {
		display: none;
	}

	.imageContainer {
		width: 100%;
		height: 100%;
		overflow: hidden;

		.heroImage {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			border: 3px solid var(--color-border);
			border-radius: 1rem;
		}
	}
}
