.about {
	width: 50%;
	padding: 0.5rem;

	@media (width < 1024px) {
		width: 100%;
		padding: 0.5rem 0.25rem;
	}
}

.aboutContainer {
	height: 100%;
	border: 3px solid var(--color-border);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
}

.aboutTitle {
	font-size: clamp(5rem, -0.5rem + 8.5938vw, 13.25rem);
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	padding-block: 1.5rem;
	width: 100%;
	text-align: center;
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;

	@media (width < 1024px) {
		font-size: clamp(3.5rem, -0.3009rem + 16.8929vw, 10.5rem);
	}
}

.textContent {
	font-size: clamp(1.25rem, 0.6346rem + 0.9615vw, 1.5rem);
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@media (width < 1024px) {
		font-size: clamp(1rem, 0.7285rem + 1.2066vw, 1.5rem);
		padding: 1rem 0.5rem;
	}

	.aboutImageContainer {
		width: 100%;

		img {
			width: 100%;
			object-fit: cover;
			border-radius: 0.5rem;
		}
	}
}
