---
import styles from './About.module.css';
import { Image } from 'astro:assets';
---

<section class={styles.about}>
  <div class={styles.aboutContainer}>
    <h2 class={styles.aboutTitle}>Bienvenue</h2>
  </div>
</section>
