.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	padding: 1.5rem 3rem;
	background-color: var(--color-background);
	border: 3px solid var(--color-border);
	border-radius: 0.5rem;
	width: calc(50% - 4rem);
	margin: 2rem;
}
