.header {
	width: 50%;
	position: fixed;
	top: 0;
	padding: 1.5rem;
	z-index: 10;

	@media (width < 1024px) {
		width: 100%;
		padding: 1rem;
	}

	.innerHeader {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: var(--color-background);
		border: 3px solid var(--color-border);
		border-radius: 0.75rem;
		padding: 1.5rem 3rem;

		@media (width < 1024px) {
			border-radius: 0.5rem;
			padding: 1rem 2rem;
		}
	}

	.headerTop {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	img {
		width: 132px;

		@media (width < 1024px) {
			width: clamp(5rem, 3.2353rem + 7.8431vw, 8.25rem);
		}
	}

	.burgerMenu {
		cursor: pointer;

		svg {
			@media (width < 1024px) {
				width: clamp(2rem, 1.44rem + 2.6354vw, 3.125rem);
			}
		}
	}

	.navBar {
		overflow: hidden;
		width: 100%;

		ul {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 1rem;
			width: 100%;
			font-family: var(--font-heading);
			font-size: clamp(2rem, 1.3333rem + 1.0417vw, 3rem);

			@media (width < 1024px) {
				align-items: center;
				font-size: clamp(1.5rem, 1.1266rem + 1.757vw, 2.25rem);
			}

			li {
				will-change: transform;
				transition: transform 0.3s ease;

				&:hover {
					transform: translateX(-0.75rem);

					@media (width < 1024px) {
						transform: none;
					}
				}
			}
		}
	}
}
