.header {
	width: 50%;
	position: fixed;
	top: 0;
	padding: 1.5rem;
	z-index: 10;

	@media (width < 1024px) {
		width: 100%;
		padding: 1rem;
	}

	.innerHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--color-background);
		border: 3px solid var(--color-border);
		border-radius: 0.75rem;
		padding: 1rem 2rem;

		@media (width < 1024px) {
			border-radius: 0.5rem;
		}
	}

	img {
		width: 132px;

		@media (width < 1024px) {
			width: clamp(5rem, 3.2353rem + 7.8431vw, 8.25rem);
		}
	}
}
