.galery {
	width: 50%;
	padding: 0.5rem;

	@media (width < 1024px) {
		width: 100%;
	}
}

.galeryContainer {
	height: 100%;
	border: 3px solid var(--color-border);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.carousel {
	padding-block: 1rem;
	display: flex;
	gap: 1rem;
}

.imagesContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
	will-change: transform;
	-webkit-animation: scroll 15s linear infinite;
	animation: scroll 15s linear infinite;
	transform: translateZ(0);
	backface-visibility: hidden;

	@media (width < 768px) {
		animation-duration: 25s;
	}

	.image {
		width: clamp(15rem, 13.875rem + 5vw, 21.875rem);

		img {
			border-radius: 0.5rem;
			object-fit: cover;
		}
	}
}

@keyframes scroll {
	to {
		transform: translateX(calc(-100% - 1rem));
	}
}

@-webkit-keyframes scroll {
	to {
		-webkit-transform: translateX(calc(-100% - 1rem));
	}
}

@-moz-keyframes scroll {
	to {
		-moz-transform: translateX(calc(-100% - 1rem));
	}
}

.carousel:hover .imagesContainer {
	animation-play-state: paused;
}
