html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-body);
}

section {
	scroll-margin-top: 8rem;

	@media (width < 768px) {
		scroll-margin-top: 6rem;
	}
}

h1,
h2 {
	color: var(--color-heading);
	font-family: var(--font-heading);
}

h3,
h4 {
	color: var(--color-heading);
	font-family: var(--font-body);
}

p {
	line-height: 1.6;
	text-wrap: balance;
	text-box-trim: trim-both;
}
