body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-body);
}

h1,
h2 {
	color: var(--color-heading);
	font-family: var(--font-heading);
}

p {
	line-height: 1.6;
	text-wrap: pretty;
}
